.contenedorItem{
    text-align: center;
    padding: 50px;
    margin: 35px;
    border: 5px solid black;
    font-size: 20px;
}

img{
    width: 360px;
    margin-bottom: 20px;
}

div.contador{
margin: 40px;
}

strong{
    margin: 20px;
}

button{
 padding: 5px 20px 5px 20px;  
}

